{% extends 'base.html.twig' %}

{% block title %}Hello HomePageController!{% endblock %}

{% block body %}
<style>
    .example-wrapper {  text-align: center; }
</style>

<div class="example-wrapper">
    <h1> {{ counter }}</h1>
    <button hx-post="{{ url('app_home_page') ~ '?counter=' ~ counter }}" hx-target="body">+1</button>
</div>
{% endblock %}
